# C++ 编译产物
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
alipay_cli
alipay_server
test_core

# 编译中间文件
*.o
*.obj
*.elf
*.a
*.lib
*.so
*.dylib
*.dll
*.slo
*.lo
*.la

# 调试/日志文件
*.log
*.cache
*.dSYM/
*.pdb
*.ilk
*.exp

# 编辑器/IDE 文件
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db

# 临时文件
*.tmp
*.temp
*.bak
*.backup
