
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
alipay_cli
alipay_server
test_core

*.o
*.obj
*.elf
*.a
*.lib
*.so
*.dylib
*.dll
*.slo
*.lo
*.la

*.log
*.cache
*.dSYM/
*.pdb
*.ilk
*.exp

.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db

*.tmp
*.temp
*.bak
*.backup
